body {
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

pre {
    padding: 0;
    margin: 0;
}

.main {
    padding: 20px 0;
}

.main-list {
    margin-bottom: 20px;
}

.main-heading {
    font-size: 2rem;
}

.api-base-url {
    cursor: pointer;
}

.heading {
    font-size: 1.4rem;
    padding: 10px 12px;
    border-bottom: 1px solid rgba(#000, 0.1);
}

.accordian-block {
    margin-top: 14px;
}

.GET {
    background-color: #61affe;
}

.POST {
    background-color: #49cc90;
}

.PUT {
    background-color: #f9a740;
}

.DELETE {
    background-color: #ff5454;
}

.accordian-block-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;

    .req-method {
        border-radius: 4px;
        padding: 5px 0;
        min-width: 80px;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        color: white;
        margin-right: 14px;
    }

    .req-url {
        font-weight: 600;
        margin-right: 14px;
        white-space: nowrap;
    }

    .req-description {
        font-size: 0.9rem;
        color: rgba(#000, 0.7);
    }

    .arrow-icon {
        margin-left: auto;
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    &[aria-expanded='true'] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &[aria-expanded='true'] .arrow-icon {
        transform: rotate(180deg);
    }
}

.accordian-block-body {
    padding: 16px;
    padding-top: 10px;
    background-color: #fff;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .accordian-block-content {
        margin-bottom: 28px;
    }

    .body-title {
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 6px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(#000, 0.075);
    }

    .table-row {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .json-block {
        padding: 14px;
        background: #333333;
        color: #d4d4d4;
        border-radius: 4px;
        max-height: 400px;
        overflow-y: auto;
    }
}
